body footer .section-4 .container, body footer .section-3 .container, body main .section-2 .bg .container, body main .section-1 .container, body header .container {
  padding: 75px 75px;
}

body footer .section-4 .container .width .fourth, body footer .section-4 .container .width .third, body footer .section-4 .container .width .second, body footer .section-4 .container .width .first {
  width: 25%;
  float: left;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
  color: #070439;
}
body header .container img {
  height: 35px;
}
body header .container ul {
  float: right;
}
body header .container ul li {
  display: inline;
  text-decoration: none;
  margin-left: 25px;
  line-height: 100%;
  font-size: 1rem;
}
body main .section-1 .container {
  clear: both;
  overflow: hidden;
  padding-top: 0px;
}
body main .section-1 .container .right {
  float: right;
  width: 50%;
}
body main .section-1 .container .right img {
  width: 100%;
}
body main .section-1 .container .left {
  float: left;
  width: 50%;
  padding: 110px 100px 0px 0px;
}
body main .section-1 .container .left h1 {
  font-size: 1.8rem;
  line-height: 1.5;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}
body main .section-1 .container .left p {
  margin-top: 15px;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
}
body main .section-1 .container .left input {
  margin-top: 25px;
  margin-right: 10px;
  height: 40px;
  width: 60%;
  border: 1px solid #585989;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 0.1px 0.1px 1px #bfbfbf;
}
body main .section-1 .container .left input::placeholder {
  color: #bfbfbf;
  padding-left: 10px;
}
body main .section-1 .container .left button {
  height: 40px;
  width: 35%;
  color: #f6f6fe;
  background-color: #3065f8;
  border-radius: 5px;
  border: none;
  font-weight: 700;
  box-shadow: 0.1px 0.1px 1px #bfbfbf;
}
body main .section-2 {
  clear: both;
  padding-top: 100px;
}
body main .section-2 .curve {
  background-image: url(./images/bg-curve-desktop.svg);
  background-size: cover;
  background-position: center;
  height: 100px;
}
body main .section-2 .bg {
  background-color: #f6f6fe;
  padding-bottom: 100px;
}
body main .section-2 .bg .container {
  overflow: hidden;
}
body main .section-2 .bg .container .right {
  float: right;
  width: 50%;
}
body main .section-2 .bg .container .right img {
  width: 100%;
  margin-top: 100px;
}
body main .section-2 .bg .container .left {
  float: left;
  width: 50%;
  padding: 110px 100px 0px 0px;
}
body main .section-2 .bg .container .left h1 {
  font-size: 1.8rem;
  line-height: 1.5;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}
body main .section-2 .bg .container .left p {
  margin-top: 10px;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
}
body main .section-2 .bg .container .left a {
  text-decoration: underline;
  font-weight: 700;
  color: #3c9f8f;
  font-size: 1rem;
}
body main .section-2 .bg .container .left img {
  height: 20px;
}
body main .section-2 .bg .container .left .slide {
  background-color: #fff;
  padding: 20px;
  overflow: hidden;
  margin-top: 35px;
  width: 70%;
  border-radius: 5px;
  box-shadow: 2px 2px 10px #bfbfbf;
}
body main .section-2 .bg .container .left .slide .quote {
  height: 15px;
}
body main .section-2 .bg .container .left .slide .main-para {
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 2;
  margin-top: 1px;
}
body main .section-2 .bg .container .left .slide div {
  display: inline-block;
  float: left;
}
body main .section-2 .bg .container .left .slide div img {
  height: 60px;
  border-radius: 50%;
  margin-top: 10px;
}
body main .section-2 .bg .container .left .slide div p:first-of-type {
  margin: 20px 0px 0px 20px;
  font-weight: 700;
  font-size: 0.8rem;
}
body main .section-2 .bg .container .left .slide div p:last-of-type {
  margin: 0px 0px 0px 20px;
  font-size: 0.8rem;
}
body footer .section-3 {
  clear: both;
  background-color: #585989;
  overflow: hidden;
  padding-top: 50px;
  padding-bottom: 50px;
}
body footer .section-3 .container {
  overflow: hidden;
}
body footer .section-3 .container .left {
  float: left;
  width: 60%;
}
body footer .section-3 .container .left h1 {
  color: #f6f6fe;
  margin-bottom: 15px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
}
body footer .section-3 .container .left p {
  color: #f6f6fe;
  width: 70%;
  font-size: 1rem;
}
body footer .section-3 .container .right {
  float: right;
  width: 40%;
}
body footer .section-3 .container .right input {
  margin: 5px 0px;
  height: 40px;
  width: 100%;
  border: 1px solid #585989;
  border-radius: 4px;
  padding: 5px;
  box-shadow: 0.1px 0.1px 1px #070439, 5px 5px 20px #585989;
}
body footer .section-3 .container .right input::placeholder {
  color: #bfbfbf;
  padding-left: 10px;
}
body footer .section-3 .container .right button {
  margin: 5px 0px;
  height: 40px;
  width: 175px;
  color: #f6f6fe;
  background-color: #3065f8;
  border-radius: 4px;
  border: none;
  font-weight: 700;
  box-shadow: 0.1px 0.1px 1px #070439, 5px 5px 20px #585989;
}
body footer .section-4 {
  clear: both;
  background-color: #070439;
  padding: 50px 0px;
  overflow: hidden;
}
body footer .section-4 .container {
  overflow: hidden;
}
body footer .section-4 .container .logo {
  width: 100%;
  margin-bottom: 20px;
}
body footer .section-4 .container .logo img {
  height: 35px;
  display: block;
}
body footer .section-4 .container .width .first div img {
  height: 15px;
  margin-right: 10px;
  display: inline-block;
}
body footer .section-4 .container .width .first div p {
  color: #f6f6fe;
  display: inline-block;
}
body footer .section-4 .container .width .second {
  color: #f6f6fe;
}
body footer .section-4 .container .width .second ul li {
  list-style-type: none;
  margin-left: 50%;
}
body footer .section-4 .container .width .third {
  color: #f6f6fe;
}
body footer .section-4 .container .width .third ul li {
  list-style-type: none;
  margin-left: 25%;
}
body footer .section-4 .container .width .fourth ul {
  margin-left: 25%;
}
body footer .section-4 .container .width .fourth ul li {
  list-style-type: none;
  display: inline-block;
  height: 30px;
  width: 30px;
  border: 1px solid #f6f6fe;
  border-radius: 100%;
  padding: 5px;
  text-align: center;
  line-height: 100%;
  margin-right: 10px;
}
body footer .section-4 .container .width .fourth ul li img {
  height: 20px;
}

@media (max-width: 836px) {
  body header .container {
    padding: 25px;
  }
  body header .container img {
    height: 25px;
  }
  body header .container ul li {
    margin-left: 15px;
    font-size: 0.8rem;
  }
  body main .section-1 .container {
    padding: 50px 25px;
  }
  body main .section-1 .container .right {
    width: 100%;
  }
  body main .section-1 .container .left {
    width: 100%;
    text-align: center;
    padding-right: 0;
  }
  body main .section-1 .container .left h1 {
    font-size: 1.8rem;
    line-height: 1.2;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
  }
  body main .section-1 .container .left p {
    margin-top: 15px;
    line-height: 1.5;
    font-weight: 400;
  }
  body main .section-1 .container .left input {
    margin-right: 0;
    width: 100%;
  }
  body main .section-1 .container .left button {
    margin-top: 25px;
    width: 100%;
  }
  body main .section-2 {
    padding-top: 50px;
  }
  body main .section-2 .curve {
    background-image: url(./images/bg-curve-mobile.svg);
  }
  body main .section-2 .bg {
    padding-bottom: 100px;
  }
  body main .section-2 .bg .container {
    padding: 50px 25px;
  }
  body main .section-2 .bg .container .right {
    float: none;
    width: 100%;
  }
  body main .section-2 .bg .container .right img {
    width: 100%;
    margin-top: 0;
  }
  body main .section-2 .bg .container .left {
    float: none;
    width: 100%;
    text-align: center;
    padding-right: 0;
  }
  body main .section-2 .bg .container .left h1 {
    font-size: 1.8rem;
    line-height: 1.5;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
  }
  body main .section-2 .bg .container .left p {
    margin-top: 15px;
    line-height: 1.5;
    font-weight: 400;
  }
  body main .section-2 .bg .container .left a {
    font-size: 1.2rem;
  }
  body main .section-2 .bg .container .left img {
    height: 20px;
  }
  body main .section-2 .bg .container .left .slide {
    text-align: left;
    margin: auto;
    margin-top: 50px;
    width: 80%;
  }
  body footer .section-3 .container {
    padding: 50px 25px;
  }
  body footer .section-3 .container .left {
    float: none;
    width: 100%;
    text-align: center;
  }
  body footer .section-3 .container .left h1 {
    margin-bottom: 25px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 1.4rem;
  }
  body footer .section-3 .container .left p {
    color: #f6f6fe;
    width: 100%;
    margin-bottom: 25px;
  }
  body footer .section-3 .container .right {
    float: none;
    width: 75%;
    margin: auto;
  }
  body footer .section-3 .container .right button {
    width: 100%;
  }
  body footer .section-4 .container {
    padding: 50px 25px;
  }
  body footer .section-4 .container .logo img {
    height: 50px;
  }
  body footer .section-4 .container .width .first {
    width: 100%;
  }
  body footer .section-4 .container .width .first div img {
    width: 20px;
    height: 15px;
    margin-top: 15px;
    margin-right: 10px;
  }
  body footer .section-4 .container .width .first div p {
    font-size: 0.8rem;
  }
  body footer .section-4 .container .width .second {
    width: 100%;
    margin-top: 25px;
  }
  body footer .section-4 .container .width .second ul li {
    font-size: 0.8rem;
    margin: 10px 0;
  }
  body footer .section-4 .container .width .third {
    width: 100%;
    margin-top: 25px;
  }
  body footer .section-4 .container .width .third ul li {
    font-size: 0.8rem;
    margin: 10px 0;
  }
  body footer .section-4 .container .width .fourth {
    width: 100%;
    margin-top: 50px;
    text-align: center;
  }
  body footer .section-4 .container .width .fourth ul {
    margin-left: 0;
  }
}

/*# sourceMappingURL=compiled.css.map */
