//The designs were created to the following widths:
//Mobile: 375px
//Desktop: 1440px


//Primary Colors
$Very-Dark-Blue: hsl(243, 87%, 12%);
$Desaturated-Blue: hsl(238, 22%, 44%);

//Accent
$Bright-Blue: hsl(224, 93%, 58%);
$Moderate-Cyan: hsl(170, 45%, 43%);

//Neutral
$Light-Grayish-Blue: hsl(240, 75%, 98%);
$Light-Gray: hsl(0, 0%, 75%);


//Typography

//Headings, Call-to-actions, Header Navigation => Raleway
//Weights: 400, 700

//Body => Open Sans
//Weights: 400

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;

    header {
        .container {
            padding: 50px 75px;
            font-family: 'Raleway', sans-serif;
            
            img {
                height: 35px;     
            }
            
            ul {
                float: right;

                li {
                    display: inline;
                    text-decoration: none;
                    margin-left: 25px;
                }
            }
        }
    }
}
