//The designs were created to the following widths:
//Mobile: 375px
//Desktop: 1440px


//Primary Colors
$Very-Dark-Blue: hsl(243, 87%, 12%);
$Desaturated-Blue: hsl(238, 22%, 44%);

//Accent
$Bright-Blue: hsl(224, 93%, 58%);
$Moderate-Cyan: hsl(170, 45%, 43%);

//Neutral
$Light-Grayish-Blue: hsl(240, 75%, 98%);
$Light-Gray: hsl(0, 0%, 75%);


//Typography

//Headings, Call-to-actions, Header Navigation => Raleway
//Weights: 400, 700

//Body => Open Sans
//Weights: 400

%container {
    padding: 75px 75px;
}

%div {
    width: (100%/4);
    float: left;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    color: $Very-Dark-Blue;

    header {
        .container {
            @extend %container;

            img {
                height: 35px;
            }

            ul {
                float: right;

                li {
                    display: inline;
                    text-decoration: none;
                    margin-left: 25px;
                    line-height: 3;
                    font-size: 1rem;
                }
            }
        }
    }

    main {
        .section-1 {
            .container {
                @extend %container;
                clear: both;
                overflow: hidden;
                padding-top: 0px;

                .right {
                    float: right;
                    width: 50%;

                    img {
                        width: 100%;
                    }
                }

                .left {
                    float: left;
                    width: 50%;
                    padding: 110px 100px 0px 0px;

                    h1 {
                        font-size: 1.8rem;
                        line-height: 1.5;
                        font-family: 'Raleway', sans-serif;
                        font-weight: 700;
                    }

                    p {
                        margin-top: 15px;
                        line-height: 1.5;
                        font-weight: 400;
                    }

                    input {
                        margin-top: 25px;
                        margin-right: 10px;
                        height: 40px;
                        width: 60%;
                        border: 1px solid $Desaturated-Blue;
                        border-radius: 5px;
                        padding: 5px;
                        box-shadow: 0.1px 0.1px 1px $Light-Gray;

                        &::placeholder {
                            color: $Light-Gray;
                            padding-left: 10px;
                        }
                    }

                    button {
                        height: 40px;
                        width: 35%;
                        color: $Light-Grayish-Blue;
                        background-color: $Bright-Blue;
                        border-radius: 5px;
                        border: none;
                        font-weight: 700;
                        box-shadow: 0.1px 0.1px 1px $Light-Gray;
                    }
                }
            }
        }

        .section-2 {
            clear: both;
            padding-top: 100px;

            .curve {
                background-image: url(./images/bg-curve-desktop.svg);
                background-size: cover;
                background-position: center;
                height: 100px;
            }

            .bg {
                overflow: hidden;
                background-color: $Light-Grayish-Blue;
                padding-bottom: 100px;

                .container {
                    @extend %container;

                    .right {
                        float: right;
                        width: 50%;

                        img {
                            width: 100%;
                            margin-top: 100px;
                        }
                    }

                    .left {
                        float: left;
                        width: 50%;
                        padding: 110px 100px 0px 0px;

                        h1 {
                            font-size: 1.8rem;
                            line-height: 1.5;
                            font-family: 'Raleway', sans-serif;
                            font-weight: 700;
                        }

                        p {
                            margin-top: 10px;
                            line-height: 1.5;
                            font-weight: 400;
                        }

                        a {
                            text-decoration: underline;
                            font-weight: 700;
                            color: $Moderate-Cyan;
                            font-size: 1rem;
                        }

                        img {
                            height: 20px;
                        }

                        .slide {
                            background-color: #fff;
                            padding: 20px;
                            overflow: hidden;
                            margin-top: 35px;
                            width: 70%;
                            border-radius: 5px;
                            box-shadow: 2px 2px 10px $Light-Gray;

                            .quote {
                                height: 15px;
                            }

                            .main-para {
                                font-weight: 400;
                                line-height: 2;
                                margin-top: 1px;
                            }

                            div {
                                display: inline-block;
                                float: left;

                                img {
                                    height: 60px;
                                    border-radius: 50%;
                                    margin-top: 10px;
                                }
                            }

                            div {
                                p:first-of-type {
                                    margin: 20px 0px 0px 20px;
                                    font-weight: 700;
                                }

                                p:last-of-type {
                                    margin: 0px 0px 0px 20px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    footer {
        .section-3 {
            clear: both;
            background-color: $Desaturated-Blue;
            overflow: hidden;
            padding-top: 50px;
            padding-bottom: 50px;

            .container {
                @extend %container;
                overflow: hidden;

                .left {
                    float: left;
                    width: 60%;

                    h1 {
                        color: $Light-Grayish-Blue;
                        margin-bottom: 15px;
                        font-family: 'Raleway', sans-serif;
                        font-weight: 700;
                        font-size: 1.4rem;
                    }

                    p {
                        color: $Light-Grayish-Blue;
                        width: 70%;
                    }
                }

                .right {
                    float: right;
                    width: 40%;

                    input {
                        margin: 5px 0px;
                        height: 40px;
                        width: 100%;
                        border: 1px solid $Desaturated-Blue;
                        border-radius: 4px;
                        padding: 5px;
                        box-shadow: 0.1px 0.1px 1px $Very-Dark-Blue,
                            5px 5px 20px $Desaturated-Blue;

                        &::placeholder {
                            color: $Light-Gray;
                            padding-left: 10px;
                        }
                    }

                    button {
                        margin: 5px 0px;
                        height: 40px;
                        width: 175px;
                        color: $Light-Grayish-Blue;
                        background-color: $Bright-Blue;
                        border-radius: 4px;
                        border: none;
                        font-weight: 700;
                        box-shadow: 0.1px 0.1px 1px $Very-Dark-Blue,
                            5px 5px 20px $Desaturated-Blue;
                    }
                }
            }
        }

        .section-4 {
            clear: both;
            background-color: $Very-Dark-Blue;
            padding: 50px 0px;
            overflow: hidden;

            .container {
                @extend %container;
                overflow: hidden;

                .logo {
                    width: 100%;
                    margin-bottom: 20px;

                    img {
                        height: 35px;
                        display: block;
                    }
                }

                .width {
                    .first {
                        @extend %div;

                        div {
                            img {
                                height: 15px;
                                margin-right: 10px;
                                display: inline-block;
                            }

                            p {
                                color: $Light-Grayish-Blue;
                                display: inline-block;

                            }
                        }
                    }

                    .second {
                        @extend %div;
                        color: $Light-Grayish-Blue;

                        ul li {
                            list-style-type: none;
                            margin-left: 50%;
                        }
                    }

                    .third {
                        @extend %div;
                        color: $Light-Grayish-Blue;

                        ul li {
                            list-style-type: none;
                            margin-left: 25%;
                        }
                    }

                    .fourth {
                        @extend %div;

                        ul {
                            margin-left: 25%;
                        }

                        ul li {
                            list-style-type: none;
                            display: inline-block;
                            height: 30px;
                            width: 30px;
                            border: 1px solid $Light-Grayish-Blue;
                            border-radius: 100%;
                            padding: 5px;
                            text-align: center;
                            line-height: 100%;
                            margin-right: 10px;

                            img {
                                height: 20px;
                            }
                        }
                    }
                }
            }
        }
    }
}


@media (max-width: 836px) {
    
}